*
{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    width: 100%;
    background:  linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.quote-box
{
    width:700px;
    position:absolute;
    top:50%;
    left:50%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    border:2px solid white;
        transform: translate(-50%, -50%);
    padding: 40px;
    border-radius:10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.quote-box h2
{
    font-size:32px;
    margin-bottom: 40px;
    position: relative;
    color:#ece3e3

}
.quote-box h2::after
{
    content: ' ';
    width:170px;
    height:3px;
    border-radius: 3px;
    background:rgb(51, 49, 49);
    position: absolute;
    bottom: -10px;
    left:50%;
    transform: translate(-50%);

}
.quote-box blockquote
{
    font-size: 26px;
    min-height: 110px;
    color:white;
}
.quote-box blockquote ::before,    .quote-box blockquote ::after
{
    content: ' " ';
}
.quote-box span
{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;

}
.quote-box span::before
{
    content: ' ' ;
    width: 20px;
    height:2px;
    background:rgb(51, 49, 49);
    position: absolute;
    top:50%;
    left:-30px;
    background-color:rgb(51, 49, 49);
    position: absolute;
    top: 50%;
    left: -30px;

}
.quote-box div
{
    width: 100%;
    margin-top:50px;
    display: flex;
    justify-content: center;

}
.quote-box button
{
    background-color: rgb(51, 49, 49);
    color:#fff;
    border-radius: 25px;
    border:1px solid rgb(51, 49, 49);
    width:150px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.quote-box button i
{
    font-size:25px;
    margin-right: 10px;
}
.quote-box button:nth-child(2)
{
    background:transparent;
    color:white;
    border:3px solid  rgb(51, 49, 49);
}
#author
{
    color:rgb(241, 236, 236);
}