*
{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
body
{
    background-color: rgb(148, 183, 214);
}
.stopwatch
{
    width:90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("images/background.jpg");
    background-repeat: no-repeat;
    height:400px; 
    background-size: cover;
    background-position: center;
    text-align: center;
    color:white;
    padding:40px 0;
    border: 5px solid rgb(8, 117, 171);
    margin:200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1
{
    margin-top:60px;
    font-size:64px;
    font-weight: 300;
}
.buttons
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons i
{
    font-size:50px;
    /* width:20px; */
    margin:30px 20px;
   
}
.buttons i:nth-child(2)
{
    width:80px;
}