body {
      font-family: Arial, sans-serif;
      margin: 20px;
      background-color: aliceblue;
    }
    .product {
      border: 1px solid #ddd;
      padding: 10px;
      background-color: rgb(190, 220, 245);
      margin-bottom: 10px;
      border-radius: 8px;
    }
    .product button {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
    .product button:hover {
      background-color: #218838;
    }
    .cart {
      margin-top: 30px;
      border-top: 2px solid #333;
      padding-top: 10px;
      background-color:rgb(169, 203, 233);
    }
    .cart h2
    {
        font-size: 30px;
    }
    .cart-item {
      margin-bottom: 5px;
    }
    






    




